name: Java CI

on: [push]

jobs:
   buildJar:
      runs-on: ubuntu-latest
      permissions:
         contents: write

      steps:
         - uses: actions/checkout@v4

         - name: Set up JDK 17
           uses: actions/setup-java@v4
           with:
              java-version: 17
              distribution: "temurin"
              cache: gradle

         - name: Grant execute permission for gradlew
           run: chmod +x gradlew

         - name: Build plugin jar
           run: ./gradlew jar

         - name: Upload built jar file
           uses: actions/upload-artifact@v4
           with:
              name: ${{ github.event.repository.name }}
              path: build/libs/*.jar

         - name: Update Latest Release
           uses: softprops/action-gh-release@v2
           with:
              tag_name: latest
              name: Latest Build
              body: "Automatic build from branch: ${{ github.ref_name }} (${{ github.sha }})"
              files: build/libs/*.jar
              make_latest: true
           env:
              GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
